.Input {
  margin-top: 2rem;
}

.Input__input {
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
}

.Input__button {
  border-radius: 0 5px 5px 0;
  height: 100%;
  outline: none;
  border: none;
  background-color: #000;
  padding: 0 1rem;
  transition: all 0.2s;
}

.Input__button:hover {
  background-color: #8a8a8a;
}
