// Sizes
$mobile-max-width: 330px;
$mobile-min-width: 280px;
$mobile-min-height: 650px;
$mobile-header-height: 290px;

// Colours
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);

// Other
$box-shadow: 0 0.15rem 0.5rem rgba(3, 8, 20, 0.15),
  0 0.075rem 0.175rem rgba(2, 8, 20, 0.15);
