// Sizes
$mobile-max-width: 330px;
$mobile-min-height: 650px;

$desktop-breakpoint: 1050px;

$header-height: 290px;

$mobile-input-width: 330px;
$desktop-input-width: 500px;

$mobile-info-display-width: 330px;
$desktop-info-display-width: 1000px;

// Colours
$white: #fff;
$black: #000;
$dark-gray: hsl(0, 0%, 59%);
$very-dark-gray: hsl(0, 0%, 17%);

// Other
$box-shadow: 0 0.15rem 0.5rem rgba(3, 8, 20, 0.15),
  0 0.075rem 0.175rem rgba(2, 8, 20, 0.15);
